{% extends "admin_base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sty.css') }}">
<div id="edit-category-section">
    <h1>Edit Category</h1>

    <form method="POST" action="{{ url_for('edit_category', category_id=category.category_id) }}">
        <label for="new_category_name">New Category Name:</label>
        <input type="text" id="new_category_name" name="new_category_name" value="{{ category.category_name }}" required>
        
        <button type="submit">Save Category Changes</button>
    </form>

    <h2>Edit Products</h2>


    <form id="edit-products-form" method="POST" action="{{ url_for('edit_category', category_id=category.category_id) }}">
        {% for product in category.products %}
            <div class="product-container">
                <label for="product_name_{{ product.product_id }}">Product Name:</label>
                <input type="text" id="product_name_{{ product.product_id }}" name="product_name_{{ product.product_id }}" value="{{ product.product_name }}" required>

                <label for="product_price_{{ product.product_id }}">Product Price:</label>
                <input type="number" id="product_price_{{ product.product_id }}" name="product_price_{{ product.product_id }}" value="{{ product.price }}" required>

                <label for="product_quantity_{{ product.product_id }}">Product Quantity:</label>
                <input type="number" id="product_quantity_{{ product.product_id }}" name="product_quantity_{{ product.product_id }}" value="{{ product.quantity }}" required>

                <label for="product_manufacturing_date_{{ product.product_id }}">Manufacturing Date:</label>
                <input type="date" id="product_manufacturing_date_{{ product.product_id }}" name="product_manufacturing_date_{{ product.product_id }}" value="{{ product.manufacturing_date | default('', true) }}">

                <label for="product_expiring_date_{{ product.product_id }}">Expiring Date:</label>
                <input type="date" id="product_expiring_date_{{ product.product_id }}" name="product_expiring_date_{{ product.product_id }}" value="{{ product.expiring_date | default('', true) }}">

            </div>
        {% endfor %}
        
        <button type="submit">Save Product Changes</button>
    </form>
</div>
{% endblock %}
